*.asm
*.o

cusolver_svd/cusolver_gesvd_float
cusolver_svd/cusolver_gesvd_double
cusolver_svd/cusolver_gebrd_float
cusolver_svd/cusolver_gebrd_double

magma/magma_tri

mkl_svd/lapacke_dbdsdc
mkl_svd/lapacke_dsterf
mkl_svd/lapacke_sbdsdc
mkl_svd/lapacke_ssterf
mkl_svd/lapacke_dgesvd
mkl_svd/lapacke_dgebrd
mkl_svd/lapacke_dgbbrd

ozimmu/ozimmu_test_double

tcgemm/tcgemm_FP162FP32_float

PanelQR_ori/hou_tsqr_panel
PanelQR1/hou_tsqr_panel